@font-face {
    font-family: 'robotoregular';
    src: url('./asset/font/roboto-regular-webfont.woff2') format('woff2'),
        url('./asset/font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ag-theme-alpine {
    /* use theme parameters where possible */
    --ag-foreground-color: #2b489b;
}
